{%if settings.dgHomeLink === true or not settings %}
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
            </a>
            <div class="nav-links">
                <a href="/essays/">Essays</a>
                <a href="/tils/">TILs</a>
                <a href="/talks/">Talks</a>
                <a href="/notes/">Notes</a>
                <a href="/about/">About</a>
            </div>
        </div>
        {% if settings.dgEnableSearch === true or not settings %}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}